{% extends 'base.html.twig' %}

{% block title %}Blog/News{% endblock %}

{% block body %}

    <section class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Blog / Newletters.</h1>
                <p class="lead fw-normal text-white-50 mb-0">Toute l'actualités en direct uniquement pour vous !</p>
            </div>
        </div>
    </section>

    <div class="container">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} mt-4" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <section class="py-5">
        <div class="container">
            <h2>Bienvenue dans la page Actualités réservé uniquement aux membres.</h2>
            <p>Vous trouverez ici tous les articles avec les commentaires lié à celui-ci.</p>
            <p><span>Vous pourrez rajouter un commentaire mais n'oubliez pas : </span> <em>"Ici le respect est primordial."</em></p>
            <q>L'échange d'information est l'arme la plus puissante d'aujourd'hui. Merci de l'utiliser à bonne escient.</q>

            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for article in articles %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <img src="{{ asset (imagesArticlesPath ~ '/' ~ article.photoArticle) }}" alt="{{ article.titre }}" class="card-img-top">
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h4>{{ article.categorie.nomCategorie }}</h4>
                                        <h5 class="fw-bolder">{{ article.titre }}</h5>
                                        <p>{{ article.prixUnitaire }}&euro;</p>
                                        <p>{{ article.description|nl2br }}</p>
                                    </div>
                                </div>
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a href="{{ path('commentaires.article', {'id': article.id}) }}" class="btn btn-outline-dark mt-0">Voir les commentaires</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('chat.index') }}">Mini-chat</a></div>
    </div>
{% endblock %}
