{% extends 'base.html.twig' %}

{% block title %}{{ 'chat'|trans({}, 'messages', app.request.locale) }}{% endblock %}

{% block body %}
    <section class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <!-- Titre principal -->
                <h1 class="display-4 fw-bolder">{{ 'we_love_exchange'|trans({}, 'messages', app.request.locale) }}</h1>
                <!-- Phrase d'accroche -->
                <p class="lead fw-normal text-white-50 mb-0">{{ 'be_imaginative'|trans({}, 'messages', app.request.locale) }}</p>
            </div>
        </div>
    </section>

    <!-- Section pour afficher les messages flash -->
    <div class="container">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} mt-4" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="chat-container">
                <div class="chat-messages">
                    <!-- Si aucun message n'est disponible -->
                    {% if messagesData is empty %}
                        <p class="text-center">{{ 'no_messages_to_display'|trans({}, 'messages', app.request.locale) }}</p>
                    {% else %}
                        <!-- Lien vers le formulaire d'ajout d'un message dans le chat -->
                        <p><a href="#ajout_message_chat">
                            <span class="bi bi-plus-circle" aria-hidden="true"></span> {{ 'add_new_message'|trans({}, 'messages', app.request.locale) }}
                        </a></p>

                        <!-- Boucle pour afficher chaque message du chat -->
                        {% for messageData in messagesData %}
                            {% set message = messageData[0] %}
                            <!-- Carte contenant un message du chat -->
                            <div class="card mb-3">
                                <div class="card-body">
                                    <!-- Affiche le pseudo de l'utilisateur et la date du message -->
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <span class="fw-bold text-primary">{{ message.utilisateur.pseudo }}</span>
                                        <span class="text-muted">{{ message.dateMessage|date('d/m/Y H:i') }}</span>
                                    </div>
                                    <!-- Affiche le contenu du message -->
                                    <p class="mb-2">{{ message.message|nl2br }}</p>
                                    <!-- Boutons pour like, dislike et répondre au message -->
                                    <div class="d-flex">
                                        {{ form(formLikes[message.id]) }}
                                        {{ form(formDislikes[message.id]) }}
                                        <!-- Bouton pour afficher le formulaire de réponse -->
                                        <button class="btn btn-secondary btn-sm ms-2" data-bs-toggle="collapse" data-bs-target="#reply-form-{{ message.id }}">{{ 'reply'|trans({}, 'messages', app.request.locale) }}</button>
                                    </div>

                                    <!-- Formulaire de réponse qui s'affiche en cas de clic sur "Répondre" -->
                                    <div class="collapse mt-3" id="reply-form-{{ message.id }}">
                                        {{ form_start(replyMessageForms[message.id]) }}
                                            <div class="mb-2">
                                                {{ form_widget(replyMessageForms[message.id].message) }}
                                            </div>
                                            <div>
                                                {{ form_widget(replyMessageForms[message.id].submit) }}
                                            </div>
                                        {{ form_end(replyMessageForms[message.id]) }}
                                    </div>

                                    <!-- Affichent les réponses à un message si elles existent -->
                                    {% if message.reponses is not empty %}
                                        <!-- Section contenant les réponses triées par ordre décroissant de date -->
                                        {% set sortedReponses = message.reponses|sort((a, b) => b.dateMessage <=> a.dateMessage) %}
                                        <div class="mt-3 ps-3 border-start border-primary border-2">
                                            <!-- Boucle pour afficher chaque réponse -->
                                            {% for reply in sortedReponses %}
                                                <div class="card mb-2">
                                                    <div class="card-body">
                                                        <!-- Affiche le pseudi de l'utilisateur et la date de la réponse -->
                                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                                            <span class="fw-bold text-primary">{{ reply.utilisateur.pseudo }}</span>
                                                            <span class="text-muted">{{ reply.dateMessage|date('d/m/Y H:i') }}</span>
                                                        </div>
                                                        <!-- Contenu de la réponse -->
                                                        <p>{{ reply.message|nl2br }}</p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div id="ajout_message_chat">
                <!-- Si l'utilisateur est bloqué, affiche un message l'informant qu'il ne peut pas participer au chat -->
                {% if app.user.isBloque %}
                    <p>{{ 'blocked_from_chat'|trans({}, 'messages', app.request.locale) }}</p>
                {% else %}
                    <!-- Formulaire pour ajouter un nouveau message dans le chat -->
                    {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_label(form.message) }}
                            {{ form_widget(form.message) }}
                        </div>
                        <div class="mb-3">
                            {{ form_widget(form.submit) }}
                        </div>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
