{% extends 'base.html.twig' %}

<!-- Bloc pour définir le titre de la page -->
{% block title %}{{ 'current_popular_actors'|trans({}, 'messages', app.request.locale) }}{% endblock %}

<!-- Bloc pour le corps de la page -->
{% block body %}
    <section class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <!-- Titre principal de la page -->
                <h1 class="display-4 fw-bolder">{{ 'current_popular_actors'|trans({}, 'messages', app.request.locale) }}</h1>
                <!-- Sous-titre décrivant la section -->
                <p class="lead fw-normal text-white-50 mb-0">{{ 'discover_movie_stars'|trans({}, 'messages', app.request.locale) }}</p>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <!-- Vérification si la liste des acteurs est vide -->
                {% if actors is empty %}
                    <!-- Message affiché si aucun acteur populaire n'est trouvé --> 
                    <p class="text-center">{{ 'no_popular_actors'|trans({}, 'messages', app.request.locale) }}</p>
                {% else %}
                    <!-- Boucle pour afficher chaque acteur dans la liste -->
                    {% for actor in actors %}
                        <div class="col mb-5">
                            <div class="card h-100 text-center">
                                <!-- Image de l'acteur -->
                                <img src="{{ tmdb_images_url }}/{{ actor.profile_path }}" alt="{{ actor.name }}" class="card-img-top">
                                <div class="card-body p-4">
                                    <!-- Nom de l'acteur -->
                                    <p class="card-title"><strong>{{ actor.name }}</strong></p>
                                    <div class="card-text">
                                        <!-- Département dans lequel l'acteur est connu -->
                                        <p>{{ 'known_for'|trans({}, 'messages', app.request.locale) }} : {{ actor.known_for_department }}</p>
                                        <!-- Indicateur de popularité de l'acteur -->
                                        <p>{{ 'popularity'|trans({}, 'messages', app.request.locale) }} : {{ actor.popularity }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}