{% extends 'base.html.twig' %}

{% block title %}{{ 'comments'|trans({}, 'messages', app.request.locale) }}{% endblock %}

{% block body %}
    <section class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">{{ 'article_comments'|trans({}, 'messages', app.request.locale) }}</h1>
                <p class="lead fw-normal text-white-50 mb-0">{{ 'your_thoughts'|trans({}, 'messages', app.request.locale) }}</p>
            </div>
        </div>
    </section>

    <section class="py-5">
        {% if commentaires is empty %}
            <p class="text-center">{{ 'no_comments_for_article'|trans({}, 'messages', app.request.locale) }}</p>
        {% else %}
            <table class="table table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th scope="col">{{ 'user'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col">{{ 'comment'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col">{{ 'comment_date'|trans({}, 'messages', app.request.locale) }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for commentaire in commentaires %}
                        <tr>
                            <td>{{ commentaire.utilisateur.pseudo }}</td>
                            <td>{{ commentaire.commentaire|nl2br }}</td>
                            <td>{{ commentaire.dateCommentaire|date('d/m/Y H:i') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if app.user %}
            {{ form_start(form) }}
                <div class="form-group mb-3">
                    {{ form_label(form.commentaire) }}
                    {{ form_widget(form.commentaire) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_widget(form.submit) }}
                </div>
            {{ form_end(form) }}
        {% endif %}
    </section>

    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
            <a class="btn btn-outline-dark mt-auto" href="{{ path('blog.list') }}">{{ 'blog_newsletters'|trans({}, 'messages', app.request.locale) }}</a>
        </div>
    </div>
{% endblock %}
