{% extends 'base.html.twig' %}

{% block title %}{{ 'my_cart'|trans({}, 'messages', app.request.locale) }}{% endblock %}

{% block body %}
    <section class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">{{ 'my_cart'|trans({}, 'messages', app.request.locale) }}</h1>
                <p class="lead fw-normal text-white-50 mb-0">{{ 'what_you_order'|trans({}, 'messages', app.request.locale) }}</p>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} mt-4" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% if articlesPanier is empty %}
                <p class="text-center">{{ 'your_cart_is_empty'|trans({}, 'messages', app.request.locale) }}</p>
            {% else %}
                <table id="dataTable" class="table">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'article_photo'|trans({}, 'messages', app.request.locale) }}</th>
                            <th scope="col">{{ 'product_name'|trans({}, 'messages', app.request.locale) }}</th>
                            <td scope="col">{{ 'unit_price'|trans({}, 'messages', app.request.locale) }}</td>
                            <th scope="col">{{ 'quantity'|trans({}, 'messages', app.request.locale) }}</th>
                            <th scope="col">{{ 'total_price'|trans({}, 'messages', app.request.locale) }}</th>
                            <th scope="col">{{ 'actions'|trans({}, 'messages', app.request.locale) }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in articlesPanier %}
                            {{ form_start(item.suppressionArticlePanierForm, {'attr': {'id': item.article.id}}) }}
                                <tr>
                                    <td><img src="{{ imagesArticlesPath }}/{{ item.article.photoArticle }}" alt="{{ item.article.titre }}" class="img-thumbail"></td>
                                    <td>{{ item.article.titre }}</td>
                                    <td>{{ item.article.prixUnitaire }}</td>
                                    <td>{{ form_widget(item.suppressionArticlePanierForm.quantite) }}</td>
                                    <td>{{ item.prix_total }}&euro;</td>
                                    <td>{{ form_widget(item.suppressionArticlePanierForm.suppression_panier) }}</td>
                                </tr>
                            {{ form_end(item.suppressionArticlePanierForm) }}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Total</td>
                            <td>{{ quantiteTotale }}</td>
                            <td colspan="2">{{ total }}&euro;</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="d-flex justify-content-end">
                    <button id="checkout-button" class="btn btn-primary">{{ 'Payer'|trans({}, 'messages', app.request.locale) }}</button>
                </div>
            {% endif %}
        </div>
    </section>

    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
            <a class="btn btn-outline-dark mt-auto" href="{{ path('produits.list') }}">{{ 'product_list'|trans({}, 'messages', app.request.locale) }}</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var stripe = Stripe("{{ stripe_public }}");

            var checkoutButton = document.getElementById('checkout-button');

            checkoutButton.addEventListener('click', () => {
                fetch("{{ path('stripe_checkout') }}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                .then((response) => {
                    return response.json();
                })
                .then((session) => {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then((result) => {
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch((error) => {
                    console.error('Error :', error);
                });
            });
        });
    </script>
{% endblock %}
