{% extends 'base.html.twig' %}

{% block title %}{{ 'my_cart'|trans({}, 'messages', app.request.locale) }}{% endblock %}

{% block body %}
    <section class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">{{ 'my_cart'|trans({}, 'messages', app.request.locale) }}</h1>
                <p class="lead fw-normal text-white-50 mb-0">{{ 'what_you_order'|trans({}, 'messages', app.request.locale) }}</p>
            </div>
        </div>
    </section>
    
    <section class="py-5">
        <div class="container">
            {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} mt-4" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="d-flex justify-content-end">
                <form action="{{ path('stripe_checkout') }}" method="post">
                    <button type="submit" class="btn btn-primary">{{ 'pay_with_stripe'|trans({}, 'messages', app.request.locale) }}</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
