{% extends 'base.html.twig' %}

{% block title %}Détails de l'achat{% endblock %}

{% block body %}
    <section class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Liste des détails de l'achat</h1>
                <p class="lead fw-normal text-white-50 mb-0">Ce que vous avez acheté.</p>
            </div>
        </div>
    </section>

    <section class="py-5">
        {% if details_achat is empty %}
            <p class="text-center">Aucun détail de l'achat</p>
        {% else %}
            <table class="table table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th scope="col">Photo de l'article</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail_achat in details_achat %}
                        <tr>
                            <td><img src="{{ asset (imagesArticlesPath ~ '/' ~ detail_achat.photo_article) }}" alt="{{ detail_achat.titre }}" class="img-thumbnail"></td>
                            <td>{{ detail_achat.titre }}</td>
                            <td>{{ detail_achat.quantite }}</td>
                            <td>{{ detail_achat.prix }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>

    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
            <a class="btn btn-outline-dark mt-auto" href="{{ path('admin_utilisateurs') }}">Liste des utilisateurs</a>
        </div>
    </div>
{% endblock %}