{% extends 'base.html.twig' %}

{% block title %}{{ 'about'|trans({}, 'messages', app.request.locale) }}{% endblock %}

{% block body %}
    <section class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">{{ 'but_first'|trans({}, 'messages', app.request.locale) }}</h1>
                <p class="lead fw-normal text-white-50 mb-0">{{ 'who_are_we'|trans({}, 'messages', app.request.locale) }}</p>
            </div>
        </div>
    </section>
    
    <section class="py-5">
        <div class="container">
            <h2>{{ 'welcome_message'|trans({}, 'messages', app.request.locale) }}</h2>
            <p>{{ 'introduction_part_1'|trans({}, 'messages', app.request.locale) }}</p>
            <p>{{ 'introduction_part_2'|trans({}, 'messages', app.request.locale) }}</p>

            <p>{{ 'introduction_part_3'|trans({}, 'messages', app.request.locale) }}</p>

            <p>{{ 'introduction_part_4'|trans({}, 'messages', app.request.locale) }} 🚀💻✨</p>
        </div>
    </section>

    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('produits.list') }}">{{ 'all_products'|trans({}, 'messages', app.request.locale) }}</a></div>
    </div>
{% endblock %}
