{% extends 'base.html.twig' %}

{% block title %}{{ 'forgot_password'|trans({}, 'messages', app.request.locale) }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'forgot_password'|trans({}, 'messages', app.request.locale) }}</h1>

        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} mt-4" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form(form) }}
    </div>
{% endblock %}