{% extends 'base.html.twig' %}

{% block title %}{{ 'forgot_password'|trans({}, 'messages', app.request.locale) }}{% endblock %}

{% block body %}
    <section class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <!-- Titre principal -->
                <h1>{{ 'forgot_password'|trans({}, 'messages', app.request.locale) }}</h1>
            </div>
        </div>
    </section>

    <div class="container">
        <!-- Cette section gère les messages flash (notifications temporaires) qui peuvent être affichés à l'utilisateur. Les messages sont classés par type (success, warning, danger) et sont affichés dans des alertes Bootstrap. -->
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} mt-4" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <!-- Cette ligne affiche le formulaire passé au template. -->
        {{ form(form) }}
    </div>
{% endblock %}