{% extends 'base.html.twig' %}

{% block title %}{{ 'sign_up'|trans({}, 'messages', app.request.locale) }}{% endblock %}

{% block body %}
    <div class="container">
        <section class="py-5">
            <h1 class="mt-4">
                <span class="bi bi-person-add" aria-hidden="true"></span> {{ 'registration_form'|trans({}, 'messages', app.request.locale) }}
            </h1>

            {{ form(form) }}

            <a href="{{ path('security.login') }}" class="btn btn-link mt-3">{{ 'already_have_account'|trans({}, 'messages', app.request.locale) }}</a>
        </section>
    </div>
{% endblock %}