{% extends 'base.html.twig' %}

{% block title %}{{ 'purchase_management'|trans({}, 'messages', app.request.locale) }}{% endblock %}

{% block body %}
    <section class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <!-- Titre principal -->
                <h1 class="display-4 fw-bolder">{{ 'users_purchases'|trans({}, 'messages', app.request.locale) }}</h1>
                <!-- Phrase d'accroche -->
                <p class="lead fw-normal text-white-50 mb-0">{{ 'all_purchases'|trans({}, 'messages', app.request.locale) }}</p>
            </div>
        </div>
    </section>

    <section class="py-5">
        {% if achats is empty %}
            <p class="text-center">{{ 'no_purchase_in_db'|trans({}, 'messages', app.request.locale) }}</p>
        {% else %}
            <!-- Tableau qui affiche la liste des achats -->
            <table class="table table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th scope="col">{{ 'user'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col">{{ 'purchase_date'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col">{{ 'total_amount'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col">{{ 'actions'|trans({}, 'messages', app.request.locale) }}</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Boucle pour afficher chaque achat de l'utilisateur -->
                    {% for achat in achats %}
                        <tr>
                            <!-- Colonne affichant le pseudo de l'utilisateur -->
                            <td scope="row">{{ achat.utilisateur.pseudo }}</td>
                            <!-- Colonne affichant la date d'achat formatée -->
                            <td>{{ achat.dateAchat|date('d/m/Y H:i') }}</td>
                            <!-- Colonne affichant le montant total de l'achat -->
                            <td>{{ achat.montantTotal + 2.99 }}&euro;</td>
                            <!-- Colonne pour les actions : voir les détails de l'achat ou télécharger la facture -->
                            <td>
                                <div class="btn-group">
                                    <!-- Lien pour visualiser les détails de l'achat -->
                                    <a href="{{ path(redirectPath, { id: achat.id }) }}" class="btn text-primary">
                                        <span class="bi bi-eye" aria-hidden="true"></span> {{ 'view_details'|trans({}, 'messages', app.request.locale) }}
                                    </a>
                                    <!-- Lien pour télécharger la facture de l'achat -->
                                    <a href="{{ path('telecharger_facture', { id: achat.id }) }}" class="btn text-secondary">
                                        <span class="bi bi-download" aria-hidden="true"></span> {{ 'download_invoice'|trans({}, 'messages', app.request.locale) }}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>
{% endblock %}