{% extends 'base.html.twig' %}

{% block title %}{{ 'product_list'|trans({}, 'messages', app.request.locale) }}{% endblock %}

{% block body %}
    <section class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">{{ 'product_list'|trans({}, 'messages', app.request.locale) }}</h1>
                <p class="lead fw-normal text-white-50 mb-0">{{ 'what_you_created'|trans({}, 'messages', app.request.locale) }}</p>
            </div>
        </div>
    </section>

    <section class="py-5">
        <p><a href="{{ path('admin_categories') }}" class="btn btn-warning"><span class="bi bi-tags" aria-hidden="true"></span> {{ 'add_new_category'|trans({}, 'messages', app.request.locale) }}</a></p>

        {% if articles is empty %}
            <p class="text-center">Aucun article dans la base de données !</p>
        {% else %}
            <table class="table table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th scope="col"># Id</th>
                        <th scope="col">{{ 'article_photo'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col">{{ 'title'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col">{{ 'category_name'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col">{{ 'unit_price'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col">{{ 'description'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col">{{ 'actions'|trans({}, 'messages', app.request.locale) }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td col="row">{{ article.id }}</td>
                            <td><img src="{{ asset (imagesArticlesPath ~ '/' ~ article.photoArticle) }}" alt="{{ article.titre }}"></td>
                            <td>{{ article.titre }}</td>
                            <td>{{ article.categorie.nomCategorie }}</td>
                            <td>{{ article.prixUnitaire }}</td>
                            <td>{{ article.description|nl2br }}</td>
                            <td>
                                {% if article.supprime %}
                                    <p class="text-center">{{ 'article_already_deleted'|trans({}, 'messages', app.request.locale) }}</p>
                                {% endif %}
                                {{ form(formulairesSupprimerArticle[article.id - 1]) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>

    <section class="py-5 container-fluid">
        <h2>{{ 'add_article_form'|trans({}, 'messages', app.request.locale) }} :</h2>
        {{ form_start(form) }}
            <div class="form-group mb-3">
                {{ form_label(form.titre) }}
                {{ form_widget(form.titre) }}
            </div>
            <div class="form-group mb-3">
                {{ form_label(form.prix_unitaire) }}
                {{ form_widget(form.prix_unitaire) }}
            </div>
            <div class="form-group mb-3">
                {{ form_label(form.categorie) }}
                {{ form_widget(form.categorie) }}
            </div>
            <div class="form-group mb-3">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>
            <div class="form-group mb-3">
                {{ form_label(form.photo_article) }}
                {{ form_widget(form.photo_article) }}
            </div>
            <div class="form-group mb-3">
                {{ form_widget(form.submit) }}
            </div>
        {{ form_end(form) }}
    </section>

{% endblock %}