{% extends 'base.html.twig' %}

{% block title %}{{ 'user_list'|trans({}, 'messages', app.request.locale) }}{% endblock %}

{% block body %}
    <section class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <!-- Titre principal -->
                <h1 class="display-4 fw-bolder">{{ 'user_list'|trans({}, 'messages', app.request.locale) }}</h1>
                <!-- Phrase d'accroche -->
                <p class="lead fw-normal text-white-50 mb-0">{{ 'your_thoughts'|trans({}, 'messages', app.request.locale) }}</p>
            </div>
        </div>
    </section>

    <section class="py-5">
        {% if infosUtilisateurs is empty %}
            <!-- Message indiquant qu'il n'y a pas d'utilisateurs dans la base de données -->
            <p class="text-center">{{ 'no_user_in_db'|trans({}, 'messages', app.request.locale) }}</p>
        {% else %}
            <!-- Tableau qui affiche la liste des utilisateurs -->
            <table class="table table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th scope="col"><span class="bi bi-key" aria-hidden="true"></span> #Id</th>
                        <th scope="col">{{ 'lastname'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col">{{ 'firstname'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col"><span class="bi bi-geo-alt" aria-hidden="true"></span> {{ 'address'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col"><span class="bi bi-geo" aria-hidden="true"></span> {{ 'postal_code'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col"><span class="bi bi-at" aria-hidden="true"></span> {{ 'email_address'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col"><span class="bi bi-cake2" aria-hidden="true"></span> {{ 'birth_date'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col"><span class="bi bi-person-circle" aria-hidden="true"></span> {{ 'username'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col"><span class="bi bi-person-fill-lock" aria-hidden="true"></span> {{ 'blocked'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col"><span class="bi bi-shield-lock-fill" aria-hidden="true"></span> Admin</th>
                        <th scole="col"><span class="bi bi-calendar-day" aria-hidden="true"></span> {{ 'daily_login_count'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scole="col"><span class="bi bi-calendar-week" aria-hidden="true"></span> {{ 'weekly_login_count'|trans({}, 'messages', app.request.locale) }}</th>
                        <th scope="col">{{ 'actions'|trans({}, 'messages', app.request.locale) }}</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Boucle pour afficher les informations de chaque utilisateur -->
                    {% for infosUtilisateur in infosUtilisateurs %}
                        <tr>
                            <td col="row">{{ infosUtilisateur['utilisateur'].id }}</td>
                            <td>{{ infosUtilisateur['utilisateur'].nom }}</td>
                            <td>{{ infosUtilisateur['utilisateur'].prenom }}</td>
                            <td>{{ infosUtilisateur['utilisateur'].adresse }}</td>
                            <td>{{ infosUtilisateur['utilisateur'].codePostal }}</td>
                            <td>{{ infosUtilisateur['utilisateur'].email }}</td>
                            <td>{{ infosUtilisateur['utilisateur'].dateNaissance|date('d/m/Y') }}</td>
                            <td>{{ infosUtilisateur['utilisateur'].pseudo }}</td>
                            <td>{{ infosUtilisateur['utilisateur'].bloque ? 'Oui' : 'Non' }}</td>
                            <td>{{ 'ROLE_ADMIN' in infosUtilisateur['utilisateur'].roles ? 'Oui' : 'Non' }}</td>
                            <td>{{ infosUtilisateur['nbConnexionsJour'] }}</td>
                            <td>{{ infosUtilisateur['nbConnexionsSemaine'] }}</td>
                            <td>
                                <div class="btn-group">
                                    <!-- Bouton pour voir les commentaires de l'utilisateur -->
                                    <a class="btn text-primary" href="{{ path('admin_commentaires_utilisateur', { id: infosUtilisateur['utilisateur'].id }) }}">
                                        <span class="bi bi-eye" aria-hidden="true"></span> {{ 'view_comments'|trans({}, 'messages', app.request.locale) }}
                                    </a>
                                    <!-- Bouton pour voir les achats de l'utilisateur -->
                                    <a class="btn text-secundary" href="{{ path('admin_achats_utilisateur', { id: infosUtilisateur['utilisateur'].id }) }}">
                                        <span class="bi bi-eye" aria-hidden="true"></span> {{ 'view_purchases'|trans({}, 'messages', app.request.locale) }}
                                    </a>
                                    {% if infosUtilisateur['utilisateur'] is not same as(app.user) %}
                                        <!-- Formulaire pour bloquer/débloquer l'utilisateur -->
                                        {{ form(infosUtilisateur['bloqueUtilisateurForm']) }}
                                        <!-- Bouton pour supprimer l'utilisateur -->
                                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ infosUtilisateur['utilisateur'].id }}">
                                          <span class="bi bi-trash" aria-hidden="true"></span> {{ 'delete'|trans({}, 'messages', app.request.locale) }}
                                        </button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>

                        <!-- Modal de confirmation de suppression qui apparaît lorsque l'utilisateur clique sur le bouton de suppression -->
                        <div class="modal fade" id="deleteModal{{ infosUtilisateur['utilisateur'].id }}" tabindex="-1" aria-labbelledby="deleteModalLabel{{ infosUtilisateur['utilisateur'].id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <!-- Titre du modal pour la confirmation de suppression -->
                                        <p class="modal-title" id="deleteModalLabel{{ infosUtilisateur['utilisateur'].id }}">{{ 'delete_confirmation'|trans({}, 'messages', app.request.locale) }}</p>
                                        <!-- Bouton pour fermer la modal -->
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'close'|trans({}, 'messages', app.request.locale) }}"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Message demandant une confirmation pour la suppression de l'utilisateur -->
                                        {{ 'confirm_delete_user'|trans({}, 'messages', app.request.locale) }}
                                    </div>
                                    <div class="modal-footer">
                                        <!-- Boutons pour confirmer ou annuler l'action -->
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'no'|trans({}, 'messages', app.request.locale) }}</button>
                                        
                                        <form method="post" action="{{ path('admin_supprimer_utilisateur', { id: infosUtilisateur['utilisateur'].id }) }}">
                                            <button type="submit" class="btn btn-danger">
                                                {{ 'yes'|trans({}, 'messages', app.request.locale) }}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>
{% endblock %}